*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --bg-main: #000000;    
    --bg-nav: rgb(53, 53, 53);
    --light-text: white;
    --red-text: red;
    --btn-color: rgb(114, 114, 114);
}
.debug{
    border: 1px solid yellow;
}

main{
    background-color: var(--bg-main);
    width: 100%;
    height: calc(100% - 80px);
    overflow-y: auto;
}

.container{
    height: 100vh;
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    gap: 10px;
    align-content: flex-start;
    
}

.box{
    width: calc((100% / 7) - 5px);
    height: calc((100% / 5) - 5px);
    background-color: aqua;
    flex-shrink: 0;
}

footer{
    background-color: var(--bg-nav);
    width: 100%;
    height: 80px;
}